### Editor ###
.vscode/
.ionide/
.history/
.idea/
.vs/

### VS ###
ipch/
*.suo
*.user
*.opensdf
*.sdf
*.rdb

### Generate ###
OpenWithMenu_i.c
OpenWithMenu_i.h
OpenWithMenu_p.c
dlldata.c
ReadMe.txt
*.aps

### Build ###
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Xx]86/
[Xx]64/
[Ww]in32/
[Ww]in64/
[Bb]uild/
